<header data-ng-init="initSuggestions();" class="intro-header" style="background-image: url('images/sols.jpeg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{area}}</h1>
                    <hr class="small">
                    
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
  <form data-ng-controller="registerCtrl">
  <div class="form-group">
     <label for="userEmail">Email address</label>
     <input type="email" class="form-control" id="userEmail" placeholder="Email" data-ng-model="user.email">
   </div>
   <div class="form-group">
     <label for="userPassword">Password</label>
     <input type="password" class="form-control" id="userPassword" placeholder="Password" data-ng-model="user.password">
   </div>
   <button type="submit" class="btn btn-default" data-ng-click="registerUser();">Register</button>
  </form>
</div>
