<div class="container">

  <div class="header">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">COMP3550</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="active" data-ui-sref="home">Home</a></li>
            <li><a data-ui-sref="suggestions">Suggestions</a></li>
            <li><a data-ui-sref="register">Register</a></li>
            <li><a data-ui-sref="login">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <div data-ng-controller="suggestionsCtrl" data-ng-init="initSuggestions();">

    <!-- area alert -->
    <div>
      <h3> {{area_alert}} </h3>
    </div>

    <div data-ng-if="area == null">

      <div data-ng-repeat="(key, value) in suggestions">
        <h3> Area: {{key}} <h3>
        <!-- use bootstrap 3 media objects to display suggestions -->
        <div class="media" data-ng-repeat="(key, value) in suggestions[key]">
          <div class="media-left">
            <a href="#">
              <img class="media-object" ng-src="{{users[value.name].profileImageURL}}" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{users[value.name].name}}</h4>
            <p>{{value.text}}</p>
          </div>
        </div>

      </div>

    </div>

  <!-- use bootstrap 3 media objects to display suggestions -->
  <div data-ng-if="area != null" class="media" data-ng-repeat="(key, value) in suggestions">
    <div class="media-left">
      <a href="#">
        <img class="media-object" ng-src="{{users[value.name].profileImageURL}}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{users[value.name].name}}</h4>
      <p>{{value.text}}</p>
    </div>
  </div>

  <!-- this is a form to submit suggestion based on your area. -->
  <form>
    <div class="form-group">
      <textarea data-ng-model="suggestion" class="form-control col-md-6" id="suggestion" placeholder="Please enter your suggestion here."></textarea>
    </div>
    <button type="submit" class="btn btn-default" data-ng-click="postSuggestion();">Submit Suggestion</button>
  </form>

  </div>
</div>
